@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('balança9.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 220%;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    padding-bottom: 3%;
}

#bloco{
    width: 100%;
    display: flex;
    justify-content: center;
}

#titulo-container{
    font-family: poppins;
    color: black;
    -webkit-text-stroke: 0.65px black;
}

#container{
    width: 25%;
    border: solid 2px rgb(134 133 133 / 42%);
    backdrop-filter: blur(0.7px);
    border-radius: 25px;
    padding: 1%;
}

#calculo-titulo{
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
    font-family: poppins;
    color: black;
    -webkit-text-stroke: 0.65px black;
}

#peso-titulo{
    padding-bottom: 5%;
    padding-left: 3%;
    font-family: poppins;
    color: black;
    -webkit-text-stroke: 0.65px black;
}

#altura-titulo{
    padding-bottom: 3%;
    padding-left: 3%;
    font-family: poppins;
    color: black;
    -webkit-text-stroke: 0.65px black;
}

#altura{
    -webkit-text-stroke: 0.65px rgb(0 80 255 / 0%);
    width: 20%;
    border-radius: 6px;
    padding-left: 5px;
    border-color: #00000061;
}

#peso{
    -webkit-text-stroke: 0.65px rgb(0 80 255 / 0%);
    width: 17%;
    border-radius: 6px;
    padding-left: 5px;
    border-color: #00000061;
}

#botao{
    margin-left: 3%;
    font-family: 'Poppins';
    font-size: 75%;
    color: black;
    background-color: #f7efef0f;
    border-color: #ffffff40;
    -webkit-text-stroke: 0.5px black;
}

#res{
    padding-bottom: 2%;
    margin-top: 5%;
    padding-top: 10px;
}

#res2{
    text-align: center;
    padding-bottom: 10px;
}

#res3{
    padding-top: 3%;
    color: black;
    -webkit-text-stroke: 0.5px black;
}

#res_total{
    border-radius: 20px;
    font-family: poppins;
    color: black;
    -webkit-text-stroke: 0.65px black;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;

}