*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30%;
    padding-bottom: 3%;
}

#titulo-container{
    width: 80%;
    text-align: center;
}

#bloco{
    width: 100%;
    display: flex;
    justify-content: center;
}

#container{
    width: 60%;
    padding: 1%;
    background-size: cover;
}

#calculo-titulo{
    padding-bottom: 5%;
    padding-top: 3%;
    text-align: center;
}

#peso-titulo{
    padding-bottom: 5%;
    padding-left: 3%;
}

#altura-titulo{
    padding-bottom: 3%;
    padding-left: 3%;
}

#botao{
    margin-left: 3%;
}

#res{
    padding-bottom: 2%;
    padding-top: 5%;
}

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;

}